.p-contenedor {
    color: green;
}

body section.main .contenedor p { /*Dentro del body buscás en el section, a la clase main, que tenga la contenedora y a los parrafos les pone eso xd*/
    color: green;
}

.contenedor #boton-contenedor {
    background-color: yellow;
}